<h1>Studtweet#index</h1>
<p>Find me in app/views/studtweet/index.html.erb</p>
<div ng-app="donutApp">
  <div ng-controller="indexController">
    <div ui-grid="gridOptions" class="donutGrid">
    </div>
  </div>
</div>
